.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    padding: 10px;
    height: 90vh;
    }
    .grid-item {
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      resize: none;
      overflow: hidden;
    }
  .item1 { 
    grid-area: 2 / 1 / 8 / 2; 
  }
  .item2 { 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .item3 { 
    grid-area: 8 / 1 / 9 / 2; 
  }
  .item4 { 
    grid-area: 8 / 8 / 9 / 9; 
  }
  .item5 { 
    grid-area: 2 / 2 / 9 / 8; 
  }
  .item6 { 
    grid-area: 1 / 8 / 2 / 9; 
  }
  .item7 { 
    grid-area: 1 / 2 / 2 / 8; 
  }
  .item8 { 
    grid-area: 2 / 8 / 8 / 9; 
  }

.feedbox {
  border: solid;
  border-radius: 10px;
  border-color: #90e0ef;
  font: 24px/36px sans-serif;
  width: 100%;
  overflow: hidden;
  overflow: scroll;
  background-color: #EAEDED;
  height: 100%;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  } ::-webkit-scrollbar-track {
    border: 1px solid #90e0ef;
    border-radius: 10px;
  } ::-webkit-scrollbar-thumb {
    background: #90e0ef;  
    border-radius: 10px;
  } ::-webkit-scrollbar-thumb:hover {
    background: #90e0ef;  
  }

  .add_layer_button {
    background-color: white;
    border: inset;
    color: teal;
    padding: 9px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  } .modal-content {
    background-color: #fefefe;
    color: teal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 44%;
  }
  .danger_button {
    background-color: white;
    border: inset;
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: relative;
    right: 10%;
    float: right;
    bottom: 50px;
  } .danger_button:hover {
    background-color: red;
    color: white;
  }
  .cancel_button {
    background-color: white;
    border: inset;
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    width: 140px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
    right: 35%;
  } .cancel_button:hover {
    background-color: grey;
    color: white;
  }