.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    padding: 10px;
    height: 90vh;
    }
    .grid-item {
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      resize: none;
      overflow: hidden;
    }
  .item1 { 
    grid-area: 2 / 1 / 8 / 2; 
  }
  .item2 { 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .item3 { 
    grid-area: 8 / 1 / 9 / 2; 
  }
  .item4 { 
    grid-area: 8 / 8 / 9 / 9; 
  }
  .item5 { 
    grid-area: 2 / 2 / 9 / 8; 
  }
  .item6 { 
    grid-area: 1 / 8 / 3 / 9; 
  }
  .item7 { 
    grid-area: 1 / 2 / 2 / 8; 
  }
  .item8 { 
    grid-area: 3 / 8 / 8 / 9; 
  }

.feedbox {
  border: solid;
  border-radius: 10px;
  border-color: #90e0ef;
  width: 12vw;
  overflow: hidden;
  overflow: scroll;
  background-color: #EAEDED;
  height: 100%;
  position: relative;
  left: -3vh;
}

.feedbox button {
  background-color: white; 
  border: 1px solid grey;
  color: teal;
  padding-left: 10px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: left;
  height: 8vh;
  font-size: 3vh;
}

.feedbox button:not(:last-child) {
  border-bottom: none;
}

/* Add a background color on hover */
.feedbox button:hover {
  background-color: lightgray;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  } ::-webkit-scrollbar-track {
    border: 1px solid teal;
    border-radius: 10px;
  } ::-webkit-scrollbar-thumb {
    background: teal;  
    border-radius: 10px;
  } ::-webkit-scrollbar-thumb:hover {
    background: teal;  
  }

  .style1_button {
    background-color: white;
    color: teal;
    padding: 9px 40px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

  .style1_button:hover {
    text-shadow:0px 0px 1px black;
    background-color: lightgray;
  }

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  } .modal-content {
    text-align: center;
    background-color: #fefefe;
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 44%;
    height: fit-content;
  }
  .danger_button {
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.4s;
    background-color: white;
    color: teal;
    padding: 9px 40px;
    text-align: center;
    cursor: pointer;
    float: right;
  } .danger_button:hover {
    background-color: red;
    color: white;
  }
  .danger_button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
  }
  .cancel_button {
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.4s;
    background-color: white;
    color: teal;
    padding: 9px 40px;
    text-align: center;
    cursor: pointer;
    float: left;
  } .cancel_button:hover {
    background-color: grey;
    color: white;
  }
 
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    font-size: 14px;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

  .map_image {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
  }

  .flex {
    display: flex;
  }
  .flex div {
    flex-basis: 50%;
    display: inline-block;
  }
  #col1 {
    background-color: #d5d6e6;
    height: 20vh;
    border-radius: 25px;
    border: 1px solid gold;
  }
  #col2 {
    background-color: darkgrey;
    height: 20vh;
    border: 1px solid gold;
    font-size: 14px;
    color: white;
  }