body {
    background-color: #D9D9D9;
    padding: 20px;
    margin: auto;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: Georgia, Garamond, Serif;
  }

  label {
    color: white;
  }
  
  input {
    margin-bottom: 20px;
    margin-top: 2px;
  }

  .signup {
    border: none !important;
    color: white !important;
    cursor: pointer;
    background-color: #174040;
    text-decoration: underline;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
  }

  .submit-btn {
    background-color: #2A6977;
    border: none;
    color: white;
    padding: 9px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  div.absolute {
    position: absolute;
    left: 95px;
  } 

  div.error {
    padding: 10px;
    margin: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    font-weight: bold;
    position: absolute;
    bottom: 2px;
    right: 2px;
    text-align: center;
  }
  
  p {
    margin-top: 60px;
    text-align: center;
    color: white;
    font-family: 'Inter';
  }

  a {
    color: white;
  }

  article {
    background-color: #174040;
    padding: 1em;
    border-style: solid;
    border-radius: 20px;
    margin: auto;
    display: block;
    width: 300px;
    height: 350px;
  }

  .center-page {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .nav_text {
    position: absolute;
    top: 0;
    left: 0;
    color: #174040;
    border: 1px solid #ccc;
    width: 300px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: white;
  }

  .logout {
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 0;
    background-color: white;
  }

  .logout-btn {
    background-color: white;
    border: none;
    color: #A8D8A6;
    padding: 9px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  } .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 44%;
  }
  .danger_button {
    background-color: #8A0700;
    border-radius: 4px;
    border-color: #FEB5B1;
    border-width: 1px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: relative;
    float: right;
    bottom: 50px;
  } .danger_button:hover {
    background-color: #390200;
    color: #FF6961;
  }
  .cancel_button {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
  } .cancel_button:hover {
    background-color: grey;
    color: white;
  }

  .nav_menu {
    position: relative;
    top: 30px;
    right: 20px;
    height: 724px;
    width: 300px;
    border: 1px solid #888;
    background-color: white;
  }

  .add_layer_button {
    background-color: white;
    border: none;
    color: #A8D8A6;
    padding: 9px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 0px;
  }

  .map_image {
    border: 1px solid black;
    position: relative;
    left: 400px;
    bottom: 670px;
    background-color: white;
    z-index: 1;
    height: 650px;
    width: 1000px;
  }

  .load_button {
    position: inline-block;
    height: 100px;
  }

  .l_name {
    display: none;
  }

  .view_layer{
    border: 1px solid black;
    width: 300px;
    height: 40px;
    color: #174040;
    font-weight: bold;
  }