body {
    background-color: #D9D9D9;
    padding: 20px;
    margin: auto;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: Georgia, Garamond, Serif;
  }

  label {
    color: white;
  }
  
  input {
    margin-bottom: 20px;
    margin-top: 2px;
  }

  .signup {
    border: none !important;
    color: white !important;
    cursor: pointer;
    background-color: #174040;
    text-decoration: underline;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
  }

  .submit-btn {
    background-color: #2A6977;
    border: none;
    color: white;
    padding: 9px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  div.absolute {
    position: absolute;
    left: 95px;
  } 

  div.error {
    padding: 10px;
    margin: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    font-weight: bold;
    text-align: center;
  }

  p {
    margin-top: 60px;
    text-align: center;
    color: white;
    font-family: 'Inter';
  }

  a {
    color: white;
  }

  article {
    background-color: #174040;
    padding: 1em;
    border-style: solid;
    border-radius: 20px;
    margin: auto;
    display: block;
    width: 300px;
    height: fit-content;
  }

  .wrapper {
    display: grid;
  }

  .center-page {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .nav_text {
    position: relative;
    top: 310%;
    left: 0;
    color: teal;
    border: 1px solid #ccc;
    width: 12%;
    height: 100%;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    line-height: 150%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; 
  }

  .logout {
    position: relative;
    width: 150px;
    bottom: 500%;
    left: 3%;
    background-color: #D9D9D9;
  }

  .add_layer {
    position: relative;
    width: 150px;
    bottom: 600%;
    left: 85%;
    background-color: #D9D9D9;
  }

  .delete_layer {
    position: relative;
    width: 150px;
    bottom: 710%;
    left: 45%;
    background-color: #D9D9D9;
  }

  .add_device {
    position: relative;
    width: 150px;
    bottom: 610%;
    left: 15%;
    background-color: #D9D9D9;
  }

  .logout-btn {
    background-color: white;
    border: inset;
    color: teal;
    padding: 9px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav_menu {
    position: relative;
    top: 25%;
    height: 470px;
    width: 12%;
    border: 1px solid #888;
    background-color: white;
  }

  .map_image {
    border: 1px solid black;
    position: relative;
    left: 20%;
    bottom: 65%;
    background-color: white;
    z-index: 1;
    height: 650px;
    width: 60%;
  }

  .load_button {
    position: inline-block;
    height: 100px;
  }

  .l_name {
    display: none;
  }

  .view_layer{
    border: 1px solid black;
    width: 100%;
    height: 40px;
    color: #174040;
    font-weight: bold;
  }

