<!--login.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<head>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<article class="center-page">

    <h1>Forgot Your Password?</h1>

    <p>If you have forgotten your password, please enter your account's email address below and click the "Reset My Password" button. You will receive an email that contains a link to set a new password.</p>

    <form action="/u/forgot-password" method="POST">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" value = "{{ .Email}}"><br>
        {{ if .ErrorTitle}}
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
          </div>
        {{end}}
        <div class="absolute">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
      </form> 

    <form action="/u/login" method="GET">
        <p>Return to Login Page <input class="signup moveup" type="submit" value="Login"></p>
      </form>
      <form action="/u/register" method="GET">
        <p>Don't have an account? <input class="signup moveup" type="submit" value="Sign-up"></p>
      </form>
</article>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
