<!-- index.html -->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<head>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

  <div class="parent">
    <div class="grid-item item1"> 
      <div class="feedbox">
        {{ range .payload }}
        <form action="/u/view_layer" method="POST">
          <button name="layer" type="submit" value="{{ . }}">{{ . }}</button>
        </form>
      {{ end }}
      </div>
    </div>
    <div class="grid-item item2"> 2</div>
    <div class="grid-item item3">
      <form action="/u/logout_modal" method="GET">
        <button class="style1_button" value="Logout">Logout</button>
      </form>
    </div>
    <div class="grid-item item4">
      <form action="/u/add_layer_modal" method="GET">
      <button class="style1_button" type="submit" value="Add Layer">Add Layer</button>
      </form>
    </div>
    <div class="grid-item item5"> 
      {{  if .Image }}
      <img src="../{{.Image}}" class="map_image"/>
      {{ end }}
      <!--for now, putting scripts here-->
      <div class="feedbox">
        {{ range .scripts}}
        <form action="/u/view_layer" method="POST">
          <button name="layer" type="submit" value="{{ . }}">{{ . }}</button>
        </form>
        {{ end }}
      </div>  
    </div>
    <div class="grid-item item6">
      <div class="dropdown">
        <button class="style1_button">Settings</button>
        <div class="dropdown-content">
        <a href="/u/delete_account_modal">Delete My Account</a>
        <a href="TODO">Setting2</a>
        <a href="TODO">Setting3</a>
        </div>
      </div>
    </div>
    <div class="grid-item item7">
      {{ if .EditLayerButton }}
      <form action="/u/edit_layer_modal" method="GET" style="display: inline-block">
      <button class="style1_button" value="edit_layer" type="submit">Edit Layer</button>
      </form>
      <form action="/u/delete_layer_modal" method="GET" style="display: inline-block">
      <button class="style1_button" value="delete_layer" type="submit">Delete Layer</button>
      </form>
      <form action="/u/add_device_modal" method="GET" style="display: inline-block">
        <button class="style1_button" value="add_device" type="submit">Add Device</button>
      </form>
      {{ end }}
    </div>
    <div class="grid-item item8">
      <div class="feedbox">
        {{ range .devices }}
        <form>
          <button name="device" value="{{ . }}">{{ . }}</button>
          </form>
        {{ end}}
      </div>
    </div>
    </div>

    {{ if .AddLayerModal }}
<div id="add_layer_modal" class="modal">
  <div class="modal-content">
    <h3>Add Layer</h3>
    <form action="/u/add_layer" method="POST" enctype="multipart/form-data">
        <lable for="layer_name">Layer Name:</lable>
        <input type="text" id="layer_name" name="layer_name"><br>
        <label for="layer_image">Upload File</label>
        <input type="file" id="layer_image" name="layer_image" accept="image/*">
        <input class="cancel_button" type="submit" value="Cancel" formaction="/map" formmethod="get"> 
        <input class="danger_button" type="submit" value="Save">
    </form>
  </div>
</div>
{{end}}

{{ if .ScriptOutputModal}}
<div id="script_output_modal" class="modal">
  <div class="modal-content">
    <h3>Script Output</h3>
    <p>{{.Script}}</p>
  </div>
</div>
{{end}}

{{ if .ScriptOutputModalError}}
<div id="script_output_modal" class="modal">
  <div class="modal-content">
    <h3>Script Output</h3>
    <div class="error">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </div>
  </div>
</div>
{{end}}

<!-- for now, error message like this -->
{{ if .AddLayerModalError }}
<div id="add_layer_modal" class="modal">
  <div class="modal-content">
    <h3>Add Layer</h3>
    <form action="/u/add_layer" method="POST" enctype="multipart/form-data">
        <lable for="layer_name">Layer Name:</lable>
        <input type="text" id="layer_name" name="layer_name"><br>
        <label for="layer_image">Upload File</label>
        <input type="file" id="layer_image" name="layer_image" accept="image/*">
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </div>
        <input class="cancel_button" type="submit" value="Cancel" formaction="/map" formmethod="get"> 
        <input class="danger_button" type="submit" value="Save">
    </form>
  </div>
</div>
{{end}}

{{ if .LogoutModal }}
<div id="logout_modal" class="modal">
  <div class="modal-content">
    <h3>Are you sure you want to logout?</h3>
    <form action="/u/logout" method="GET" enctype="multipart/form-data">
        <input class="cancel_button" type="submit" value="Cancel" formaction="/map"> 
        <input class="danger_button" type="submit" value="Logout">
    </form>
  </div>
</div>
{{end}}

{{ if .DeleteLayerModal }}
<div id="Delete_layer_modal" class="modal">
  <div class="modal-content">
    <h3>Are you sure you want to remove this layer?</h3>
    <form action="/map" method="GET">
      <input class="cancel_button" type="submit" value="Cancel">
    </form>
    <form action="/u/delete_layer" method="POST" enctype="multipart/form-data">
      <input class="danger_button" type="submit" value="Continue">
    </form>
  </div>
</div>
{{end}}

<!--error message for delete layer-->
{{ if .DeleteLayerModalError }}
<div id="Delete_layer_modal_error" class="modal">
  <div class="modal-content">
    <h3>Are you sure you want to remove this layer?</h3>
    <div class="error">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </div>
    <form action="/map" method="GET">
      <input class="cancel_button" type="submit" value="Cancel">
    </form>
    <form action="/u/delete_layer" method="POST" enctype="multipart/form-data">
      <input class="danger_button" type="submit" value="Continue">
    </form>
  </div>
</div>
{{end}}

<!-- error message for add device-->
{{ if .AddDeviceModalError }}
<div id="Add_Device_modal_error" class="modal">
  <div class="modal-content">
    <h3>Add Device</h3>
    <form action="/map" method="GET">
      <input class="cancel_button" type="submit" value="Cancel">
    </form>
    <form action="/u/add_device" method="POST" enctype="multipart/form-data">
      Device Name: <input type="text" id="device_name" name="device_name"><br>
      Device IP Address: <input type="text" id="device_ip" name="device_ip"><br>
      <div class="error">
        {{.ErrorTitle}}: {{.ErrorMessage}}
      </div>
        <input type="file" id="device_image" name="device_image" accept="image/*">
      <input class="danger_button" type="submit" value="Continue">
    </form>
  </div>
</div>
{{end}}

<!--edit layer error-->
{{ if .EditLayerModalError }}
<div id="edit_layer_modal_error" class="modal">
  <div class="modal-content">
    <h3>Edit Layer</h3>
    <form action="/u/edit_layer" method="POST" enctype="multipart/form-data">
      <label for="layer_name">Layer Name:</label>
        <input type="text" id="layer_name" name="layer_name"><br>
        <label for="layer_image">Upload File</label>
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </div>
        <input type="file" id="layer_image" name="layer_image" accept="image/*">
        <input class="cancel_button" type="submit" value="Cancel" formaction="/map" formmethod="get"> 
        <input class="danger_button" type="submit" value="Save">
    </form>
  </div>
</div>
{{end}}

{{ if .AddDeviceModal }}
<div id="Add_Device_modal" class="modal">
  <div class="modal-content">
    <h3>Add Device</h3>
    <form action="/map" method="GET">
      <input class="cancel_button" type="submit" value="Cancel">
    </form>
    <form action="/u/add_device" method="POST" enctype="multipart/form-data">
      Device Name: <input type="text" id="device_name" name="device_name"><br>
      Device IP Address: <input type="text" id="device_ip" name="device_ip"><br>
        <input type="file" id="device_image" name="device_image" accept="image/*">
      <input class="danger_button" type="submit" value="Continue">
    </form>
  </div>
</div>
{{end}}


{{ if .EditLayerModal }}
<div id="edit_layer_modal" class="modal">
  <div class="modal-content">
    <h3>Edit Layer</h3>
    <form action="/u/edit_layer" method="POST" enctype="multipart/form-data">
      <label for="layer_name">Layer Name:</label>
        <input type="text" id="layer_name" name="layer_name"><br>
        <label for="layer_image">Upload File</label>
        <input type="file" id="layer_image" name="layer_image" accept="image/*">
        <input class="cancel_button" type="submit" value="Cancel" formaction="/map" formmethod="get"> 
        <input class="danger_button" type="submit" value="Save">
    </form>
  </div>
</div>
{{end}}

<!-- for now, error message like this-->
{{ if .DeleteAccountModalError }}
<div id="delete_account_modal" class="modal">
  <div class="modal-content">
    <h3>Type <b>DELETE</b> to permanently delete your account:</h3>
    <div class="error">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </div>
    <form action="/u/delete_account" method="GET" enctype="multipart/form-data">
        <input class="cancel_button" type="submit" value="Cancel" formaction="/map">
        <input type="text" id="delete_confirmation" name="delete_confirmation">
        <input id="delete_account_button" class="danger_button" type="submit" value="Delete my Account" disabled>
    </form>
  </div>
</div>
{{end}}

<script>
  let delete_input = document.getElementById("delete_confirmation")
  let button = document.getElementById("delete_account_button")
  delete_input.addEventListener("keyup", stateHandle)
  function stateHandle() {
    if (delete_input.value === "DELETE") {
        button.disabled = false;
    } else {
        button.disabled = true;
    }
}
</script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}