<!-- index.html -->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<head>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

  <div class="parent">
    <div class="grid-item item1"> 
      <div class="feedbox">
        {{ range .payload }}
        <form action="/u/view_layer" method="POST">
          <button name="layer" type="submit" value="{{ . }}">{{ . }}</button>
        </form>
      {{ end }}
      </div>
    </div>
    <div class="grid-item item2"> 2</div>
    <div class="grid-item item3"> 3</div>
    <div class="grid-item item4"> 4</div>
    <div class="grid-item item5"> 5</div>
    <div class="grid-item item6"> 6</div>
    </div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}