<!-- index.html -->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<head>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

  <div class="parent">
    <div class="grid-item item1"> 
      <div class="feedbox">
        {{ range .payload }}
        <form action="/u/view_layer" method="POST">
          <button name="layer" type="submit" value="{{ . }}">{{ . }}</button>
        </form>
      {{ end }}
      </div>
    </div>
    <div class="grid-item item2"> 2</div>
    <div class="grid-item item3">
      <form action="/u/logout_modal" method="GET">
        <button class="style1_button" value="Logout">Logout</button>
      </form>
    </div>
    <div class="grid-item item4">
      <form action="/u/add_layer_modal" method="GET">
      <button class="style1_button" type="submit" value="Add Layer">Add Layer</button>
      </form>
    </div>
    <div class="grid-item item5"> 
      <div id = "welcome">  
        <p style = "color: black">
          Welcome to GoMap, an application that will allow you to interact with devices via scripts!
          <br> <br>
          Click "Add Layer" to add a map layer then click on the newly added layer to add devices. 
        </p>
      </div>
      {{  if .Image }}
      <img src="../{{.Image}}" class="map_image"/>
      <script>
        document.getElementById("welcome").hidden = true;
      </script>
      {{ end }}
    </div>
    <div class="grid-item item6">
      <div class="dropdown">
        <button class="style1_button">Settings</button>
        <div class="dropdown-content">
        <a href="/u/delete_account_modal">Delete My Account</a>
        <!-- commenting this out for now
        <a href="TODO">Setting2</a>
        <a href="TODO">Setting3</a>
        -->
        </div>
      </div>
    </div>
    <div class="grid-item item7">
      {{ if .EditLayerButton }}
      <form action="/u/edit_layer_modal" method="GET" style="display: inline-block">
      <button class="style1_button" value="edit_layer" type="submit">Edit Layer</button>
      </form>
      <form action="/u/delete_layer_modal" method="GET" style="display: inline-block">
      <button class="style1_button" value="delete_layer" type="submit">Delete Layer</button>
      </form>
      <form action="/u/add_device_modal" method="GET" style="display: inline-block">
        <button class="style1_button" value="add_device" type="submit">Add Device</button>
      </form>
      {{ end }}
    </div>
    <div class="grid-item item8">
      <div class="feedbox">
        {{ range .devices }}
        <form action="/u/view_device" method="POST">
          <button name="device" value="{{ . }}">{{ . }}</button>
          </form>
        {{ end}}
      </div>
    </div>
    </div>

{{ if .AddLayerModal }}
<div id="add_layer_modal" class="modal">
  <div class="modal-content">
    <h3>Add Layer</h3>
    <form action="/u/add_layer" method="POST" enctype="multipart/form-data">
        <lable for="layer_name">Layer Name:</lable>
        <input type="text" id="layer_name" name="layer_name"><br>
        <label for="layer_image">Upload File</label>
        <input type="file" id="layer_image" name="layer_image" accept="image/*">
        <input class="cancel_button" type="submit" value="Cancel" formaction="javascript:history.back()" formmethod="get"> 
        <input class="danger_button" type="submit" value="Save">
        {{ if .ErrorTitle }}
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </div>
        {{ end }}
    </form>
  </div>
</div>
{{end}}

{{ if .LogoutModal }}
<div id="logout_modal" class="modal">
  <div class="modal-content">
    <h3>Are you sure you want to logout?</h3>
    <form action="/u/logout" method="GET" enctype="multipart/form-data">
        <input class="cancel_button" type="submit" value="Cancel" formaction="javascript:history.back()"> 
        <input class="danger_button" type="submit" value="Logout">
    </form>
    <br><br>
  </div>
</div>
{{end}}

{{ if .DeleteLayerModal }}
<div id="Delete_layer_modal" class="modal">
  <div class="modal-content">
    <h3>Are you sure you want to remove this layer?</h3>
    <form action="/u/delete_layer" method="POST" enctype="multipart/form-data">
      <input class="cancel_button" type="submit" value="Cancel" formaction="javascript:history.back()" formmethod="get"> 
      <input class="danger_button" type="submit" value="Delete">
      {{ if .ErrorTitle }}
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </div>
      {{ end }}
    </form>
    <br><br>
  </div>
</div>
{{end}}

{{ if .AddDeviceModal }}
<div id="Add_Device_modal" class="modal">
  <div class="modal-content">
    <h3>Add Device</h3>
    <form action="/u/add_device" method="POST" enctype="multipart/form-data">
      Device Name: <input type="text" id="device_name" name="device_name"><br>
      Device IP Address: <input type="text" id="device_ip" name="device_ip"><br>
        <input type="file" id="device_image" name="device_image" accept="image/*">
        <input class="cancel_button" type="submit" value="Cancel" formaction="javascript:history.back()" formmethod="get"> 
      <input class="danger_button" type="submit" value="Save">
      {{ if .ErrorTitle }}
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </div>
        {{ end }}
    </form>
  </div>
</div>
{{end}}

{{ if .EditLayerModal }}
<div id="edit_layer_modal" class="modal">
  <div class="modal-content">
    <h3>Edit Layer</h3>
    <form action="/u/edit_layer" method="POST" enctype="multipart/form-data">
      <label for="layer_name">Layer Name:</label>
        <input type="text" id="layer_name" name="layer_name"><br>
        <label for="layer_image">Upload File</label>
        <input type="file" id="layer_image" name="layer_image" accept="image/*">
        <input class="cancel_button" type="submit" value="Cancel" formaction="javascript:history.back()" formmethod="get"> 
        <input class="danger_button" type="submit" value="Save">
        {{ if .ErrorTitle }}
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </div>
        {{ end }}
    </form>
  </div>
</div>
{{end}}

{{ if .DeleteAccountModal }}
<div id="delete_account_modal" class="modal">
  <div class="modal-content">
    <h3>Type <b>DELETE</b> to permanently delete your account:</h3>
    <form action="/u/delete_account" method="GET" enctype="multipart/form-data">
        <input class="cancel_button" type="submit" value="Cancel" formaction="javascript:history.back()">
        <input type="text" id="delete_confirmation" name="delete_confirmation">
        <input id="delete_account_button" class="danger_button" type="submit" value="Delete my Account" disabled>
        {{ if .ErrorTitle }}
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </div>
        {{ end }}
    </form>
  </div>
</div>
{{end}}

{{ if .ViewDeviceModal }}
<div id="view_device_modal" class="modal">
  <div class="modal-content">
    <h3>Edit {{ .DeviceName }}</h3>
    <form action="/u/edit_device" method="POST" enctype="multipart/form-data">
      Device Name: <input type="text" id="device_name" name="device_name" value="{{ .DeviceName }}"><br>
      Device IP Address: <input type="text" id="device_ip" name="device_ip" value="{{ .DeviceIP }}"><br>
        <input type="file" id="device_image" name="device_image" accept="image/*">
        <input class="cancel_button" type="submit" value="Cancel" formaction="javascript:history.back()" formmethod="get"> 
        <input class="style1_button" type="submit" value="Save">
        <input class="danger_button" type="submit" value="Delete" formaction="/u/delete_device_modal" formmethod="get">
        {{ if .ErrorTitle }}
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </div>
        {{ end }}
    </form>
    <form action="/u/run_script" method="GET" style="display: inline-block">
      <button class="style1_button" value="run_script" type="submit">Run Script</button>
    </form>
  </div>
</div>
{{end}}

{{ if .DeleteDeviceModal }}
<div id="delete_device_modal" class="modal">
  <div class="modal-content">
    <h3>Are you sure you want to remove this device?</h3>
    <form action="/u/delete_device" method="GET" enctype="multipart/form-data">
        <input class="cancel_button" type="submit" value="Cancel" formaction="javascript:history.back()">
        <input id="delete_device_button" class="danger_button" type="submit" value="Delete">
        {{ if .ErrorTitle }}
        <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
        </div>
        {{ end }}
    </form>
  </div>
</div>
{{end}}

{{ if .ScriptModal }}
<div id="script_modal" class="modal">
  <div class="modal-content">
    <form>
      <input class="cancel_button" type="submit" value="Cancel" formaction="javascript:history.back()">
    </form>
    <h3>Scripts</h3>
    <div class="flex">
      <div id="col1">
        <form action="ping_device" method="GET" enctype="multipart/form-data">
          <input class="style1_button" type="submit" value="Ping" onclick=displayPing()>
      </form>
      </div>
      <div id="col2"></div>
    </div>
  </div>
</div>
{{end}}

{{if .Output }}
<div id="script_modal" class="modal">
  <div class="modal-content">
    <form>
      <input class="cancel_button" type="submit" value="Back" formaction="javascript:history.go(-2)">
    </form>
    <h3>Scripts</h3>
    <div class="flex">
      <div id="col1">
        <form action="ping_device" method="GET" enctype="multipart/form-data">
          <input class="style1_button" type="submit" value="Ping">
      </form>
      </div>
      <div id="col2">
        {{ .Output }}
      </div>
    </div>
  </div>
</div>
{{end}}

<script>
  const delay = ms => new Promise(res => setTimeout(res, ms));

  const displayPing = async () => {
      while(true) {
        document.getElementById("col2").innerHTML = "Pinging."
        await delay(1200);
        document.getElementById("col2").innerHTML = "Pinging.."
        await delay(1200);
        document.getElementById("col2").innerHTML = "Pinging..."
        await delay(1200);
      }
    }
  let delete_input = document.getElementById("delete_confirmation")
  let button = document.getElementById("delete_account_button")
  if (delete_input!= null && button != null) {
    delete_input.addEventListener("keyup", stateHandle)
  }
  function stateHandle() {
    if (delete_input.value === "DELETE") {
        button.disabled = false;
    } else {
        button.disabled = true;
    }
}
</script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}