<!--register.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<head>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<article class="center-page">
  <h1>Sign Up</h1>
  <p style = "margin-top: 5px">Usernames may be of any length and consist of any characters. <br><br> Passwords must </p>
  <ul style = "color: white">
    <li> have at least 10 characters </li>
    <li> have at least 1 digit</li>
    <li> have at least 1 symbol</li>
    <li> have at least 1 uppercase character</li>
    <li> have at least 1 lowercase character</li>
  </ul>

    <!--Create a form that POSTs to the `/u/register` route-->
    <form class="form" action="/u/register" method="POST">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"id="password"><br>
        <label for="confirm_password">Confirm Password</label><br>
        <input type="password" name="confirm_password"id="confirm_password"><br>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        {{ if .ErrorTitle}}
          <div class="error">
          {{.ErrorTitle}}: {{.ErrorMessage}}
          </div>
        {{end}}
        <div class="absolute">
          <input class="submit-btn" type="submit" value="Submit">
      </div>
    </form>
    <form action="/u/login" method="GET">
      <p>Already have an account? <input class="signup moveup" type="submit" value="Sign-in"></p>
    </form>
  </article>
    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}