<!--settings.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<head>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<settings class = "full-page"> 

    <h1>Settings In Progress</h1>
    <sidesection class = "sidebar">
      test
    </sidesection class = "sidebar">
    <sidesection class = "sidebar"> 
      test1
    </sidesection class = "sidebar">
    <sidesection class = "sidebar"> 
      test2
    </sidesection class = "sidebar">
    <settingstext> testing stuff </settingstext>
    
</settings>
<sidetext>
  words in the box
</sidetext>
